.chat-main
  .chat-main__chat-header
    .chat-main__chat-header_left-box
      .chat-main__chat-header_left-box_group-name
        name
      .chat-main__chat-header_left-box_group-member
        member:
        .chat-main__chat-header_left-box_group-member_member
          name
    .chat-main__chat-header_edit-btn
      Edit

       
  .chat-main__messages
    .chat-main__messages_contents-data
      .chat-main__messages_contents-data_update-date
        .chat-main__messages_contents-data_update-date_name
          RYO
        .chat-main__messages_contents-data_update-date_date
          2019/12/12
      .message-text
        hello!


  .chat-main__footer
    .chat-main__footer_send-message
      .chat-main__footer_send-message_input-box
        .chat-main__footer_send-message_input-box_type-text
          type a message
        .chat-main__footer_send-message_input-box_sample
          .chat-main__footer_send-message_input-box_sample_icon
            %label
              = icon('fa', 'images', class: 'icon')
              %input.hidden{type: "file"}
      .chat-main__footer_send-message_submit-message
        send
