.chat-main{
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: $white;
  float: left;
  &__chat-header{
    height: 100px;
    width: calc(100vw - 300px);
    display: flex;
    justify-content: space-between;
    &__left-box{
      &__group-name{
        font-size: 20px;
        color: #333333;
        margin: 35px 0px 15px 40px;
      }
      &__group-member{
        display: flex;
        font-size: 12px;
        color: #999999;
        margin-left: 40px;
        &__member-name{
          margin-left: 5px;
        }
      }
    }
    &__edit-btn{
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px;
      color: $sky-blue;
      margin-right: 40px;

      &__btn{
        color: $sky-blue;
      }
    }
  }
  &__messages{
    height: calc(100vh - 100px - 90px);
    width: calc(100vw - 300px);
    background-color: #fafafa;
    position: absolute;
    overflow: scroll; 
    &__contents-data{
      &__update-date{
        margin: 20px 20px 5px 40px;
        display: flex;
        &__name{
        font-size: 16px;
        color: #333333;
        padding-right: 10px;
        }
        &__date{
        font-size: 12px;
        color: #999999;
        }
      }
      &__messages-text{
        font-size: 14px;
        color: #434a54;
        margin: 0 20px 46px 40px;
      }
    }
   }
  &__form{
    height: 90px;
    width: calc(100vw - 300px);
    background-color: #d2d2d2;
    position: absolute;
    bottom: 0;
    padding: 20px 40px;
    &__message{
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 120px);
      padding: 0 40px 0 10px;
      #new_message{
        display: flex;
        position: relative;
      }
    }
      &__mask{
        background-color: $white;
        float: left;
        height: 50px;
        padding-right: 10px;
        &__image {
          font-size: 20px;
          line-height: 50px;
          position: absolute;
          right: 180px;
        .hidden {
          display: none;
        }
        }
      }
    &__submit {
      background-color: $light_blue;
      border: none;
      color: $white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}